<mat-toolbar color="primary">
  <button mat-icon-button (click)="sideNav.toggle()" [disabled]="isHideNav()" ><mat-icon>menu</mat-icon></button>
  &nbsp;&nbsp;
  <span>{{ title }}</span>
  <span class="toolbar-seprator"></span>

  <button mat-icon-button (click)="logout()" [disabled]="isHideNav()"><mat-icon>exit_to_app</mat-icon></button>
  <button mat-icon-button><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="over" #sideNav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngComponentOutlet="mapping.get(currentModule)"></ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>