<mat-toolbar color="primary">
  <button mat-icon-button (click)="sideNav.toggle()" [disabled]="showNav == false" ><mat-icon>menu</mat-icon></button>
  &nbsp;&nbsp;
  <span>{{ title }}</span>
  <span class="toolbar-seprator"></span>

  <button mat-icon-button><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="over" #sideNav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <!-- <ng-container *ngComponentOutlet="mapping.get(currentModule)"></ng-container> -->
    <app-login (loginStatus)="onLogin($event)"></app-login>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>